{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block body %}
<form method="post">
    <input type="email" name="email" placeholder="email" required><br>
    <button type="submit">envoyer</button>
</form>
{% endblock %}