{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<form method="post">
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="mot de passe"><br>
    <button type="submit">s'inscrire</button>
</form>
{% endblock %}